:root {
    --font-neuehaas: NeueHaasGrotesk, Helvetica, Arial, sans-serif;
}


@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url("../../font/arial-mdm.ttf") format('truetype');
}

@font-face {
    font-family: "Helvetica";
    src: url("../../font/helvetica.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGrotesk";
    src: url("../../font/neuehaasgrotdisp-medium.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGrotesk";
    src: url("../../font/neuehaasgrotdisp-light.otf") format("truetype");
    font-weight: auto;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGrotesk";
    src: url("../../font/neuehaasgrotdisp-bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGrotesk";
    src: url("../../font/neuehaasgrottextround-italic.otf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

.py-section {
    position: relative;
    padding-top: 100px;
}


.swiper {
    width: 100%;
    height: 100%;
}

.template-slide {
    padding-top: 40px;
}

.template-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.template-slide .slider-image {
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 5px #22292f;
}

.swiper-slide.slide-relative {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.slide-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
}

.temp-name {
    font-size: 22px;
    font-weight: 600;
    font-family: var(--font-neuehaas);
    color: #fff;
}

.slide-relative:before {
    content: "";
    background-image: linear-gradient(#0a2c30, #061518 80%);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: 0.3s;
}

.slide-relative:hover:before {
    display: block;
    opacity: 0.95;
}

.slide-relative:hover .slide-content {
    z-index: 120;
}