@font-face {
    font-family: "space";
    src: url("../../font/space-gotesk.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}


.swiper {
    width: 100%;
    height: 120vh;
    border-radius: 10px;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.60);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.offcanvas-body .navbar-nav .nav-link {
    color: #403226;
    font-weight: 600;
}

.home-text {
    position: absolute;
    font-family: "space";
    color: white;
    top: 40%;
    left: 100px;
    z-index: 200;
    display: flex;
    flex-direction: column;
}

.slider-sm-title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 600;
}

.slider-title {
    font-size: 152px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 0;
}


.slider-desc {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 600;
    text-align: left;
}

.line-divider {
    height: 3px;
    width: 570px;
    background: white;
    margin-bottom: 15px;
}

.contact-btn-2 {
    padding: 13px 20px;
    margin-right: 29px;
    background: #ba9964;
    color: black;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    font-family: "space";
}

.right-arrow-2 {
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 123px;
    top: 12%;
    z-index: 100;
    background: white;
    color: black;
}

.custom-card {
    background-color: #403226;
    border-radius: 12px;
    width: 410px;
    padding: 25px;
    position: relative;
    border: none;
    transition: all 0.6s ease;
}


.card-title {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.1;
    margin-bottom: 0;
    font-family: space;
    color: white;
}

.divider {
    height: 1px;
    background-color: #e0e0e0;
    margin: 20px 0;
    width: 100%;
}

.card-description {
    color: #6c757d;
    font-size: 1.05rem;
    line-height: 1.4;
    padding-right: 40px;
}


.card-section {
    position: relative;
}


.masking {

    position: absolute;
    width: 119px;
    height: 112px;
    inset: auto -1px -1px auto;
    z-index: 1;
    background-color: #fff;
    mask: url(../../img/shape-bottom.png) right bottom no-repeat;
}

.card-discover-btn {
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #f4f4f4;
    color: #321b13;
    transition: all 0.6s ease;
}

.card-discover-btn svg {
    transform: rotate(-45deg);
}


.custom-card:hover .card-discover-btn {
    background-color: #321b13;
    color: #f4f4f4;
}


.image-container {
    width: 100%;
    height: 200px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;
}


.card-image-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.6s ease;
    margin-bottom: 0;
}


.custom-card:hover .card-image-top {
    transform: scale(1.15);
}

.banner-img {
    width: 100%;
    height: 600px;
}

.banner-right {
  position: relative
}

.bg-img {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: -1;
    opacity: 0.6;
}

.banner-text {
    height: 100%;
    z-index: 100;
    padding: 60px 50px;
}

.since {
    color: #ba9964;
    font-family: space;
    font-weight: 600;
    font-size: 18px;
}

.banner-title {
    color: #403226;
    font-family: space;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
}

.banner-desc {
     color: #403226;
    font-family: space;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 500;
}