<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navbar</title>
    <link rel="stylesheet" href="../../assets-common/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/megamenu.css">
    <link rel="stylesheet" href="assets/css/header.css">
</head>
<body>

<header class="sticky-top bg-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg primary-menu py-2">
            <div class="container-fluid px-0">

                <a href="#" class="navbar-brand link-transparent logo-text">
                    <img class="logo-default ms-0" src="assets/img/logo-blue.png" alt="Logo">
                    <span class="text-heading font-title">BF Construction</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse justify-content-lg-end navbar-collapse" id="navbarSupportedContent">
                    <ul class="hover-nav-menu">
                        <li class="nav-menu-item">
                            <a href="#">Home</a>
                        </li>

                        <li class="nav-menu-item">
                            <a href="#" class="has-child">
                                About Us <i class="sub-menu-indicator fa-solid fa-caret-down"></i>
                            </a>
                            <ul class="sub-menu-items">
                                <li class="nav-menu-item">
                                    <a href="#">About BF Construction</a>
                                </li>
                                <li class="nav-menu-item">
                                    <a href="#">Founder Message</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-menu-item">
                            <a href="#">Services</a>
                        </li>
                        <li class="nav-menu-item">
                            <a href="#">Portfolio</a>
                        </li>
                        <li class="nav-menu-item">
                            <a href="#">Team</a>
                        </li>

                        <li class="nav-menu-item">
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>


<script src="../../assets-common/js/lib/bootstrap.bundle.min.js"></script>
<script src="../../assets-common/js/lib/fontawesome.all.min.js"></script>
</body>
</html>