@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url('../../font/Roboto-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'MarkPro';
    font-style: normal;
    font-weight: normal;
    src: url('../../font/MarkPro-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'TTLight';
    font-style: normal;
    font-weight: normal;
    src: url('../../font/TT-Light.ttf') format('woff');
}

@font-face {
    font-family: 'Segoe';
    font-style: normal;
    font-weight: normal;
    src: url('../../font/segoeuithis.ttf') format('woff');
}


body {
    background: #fcf8f0;
}

.topbar {
    background: #faedd7;
    font-family: 'Segoe';
    font-size: 14px;
    font-weight: 700;
    padding: 12px 5px;
}

.custom-search-input {
    background-color: #f4f4f0;
    border: 1px solid #dcdcdc;
    border-radius: 6px;

    width: 160px;
}


.custom-search-input::placeholder {
    color: #664b2f;
    font-style: italic;
    font-size: 16px;
    opacity: 1;
    font-weight: 500 !important;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;

}

a {
    text-decoration: none;
    color: inherit;
}

.custom-search-input:focus {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-color: black;
    outline: none;
}


.search-icon {
    color: #212529;
    font-size: 14px;
    pointer-events: none;
    position: absolute;
    top: 8px;
    right: 21px;
}

.segoe {
    font-family: "Segoe", sans-serif;
}

.more-bold {
    font-weight: 800;
}

.my-navbar {
    background-color: #FDFBF7;
    padding: 11px 0;
    border-bottom: 1px solid #e0e0e0;
}


.dropdown-item {
    padding: 10px 20px;
    color: #3B2F2F;
    font-weight: 600;
}

.dropdown-item:hover {
    background-color: #fbeed7;
}


.offcanvas {
    background-color: #FDFBF7;
}


@media (min-width: 992px) {


    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }


    .navbar-nav {
        margin-left: auto;
    }
}

.logo-img {
    height: 70px;
}

@media (max-width: 767px) {
    .topbar {
        display: none;
    }

    .logo-img {
        height: 45px;
    }
}


@media (min-width: 992px) {
    .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
        transition: all 0.1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        border: none;
        border-top: 3px solid #d77c21;
        border-radius: 0;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        margin-top: 0;
        min-width: 15rem;
        padding: 0;
    }


    .nav-item.dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

}

.nav-item:hover {
    border-bottom: 3px solid #aa7d38;
}

.nav-link {
    color: #3B2F2F !important;
    margin: 0 5px;
    font-size: 16px;
    font-family: "MarkPro", sans-serif;
    font-weight: 900;
}

.video-section {
    height: 700px;
    width: 100%;
    position: relative;

}


.absolute-video {
    position: relative;
    z-index: 600;
    padding-left: 40px;
    height: 100%;
    width: 100%;
}

.video-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(34, 32, 32, 0.60);
    z-index: 500;

}


.video-title {
    font-size: 80px;
    color: white;
    letter-spacing: 1px;
    font-family: "TTLight", sans-serif;
    line-height: 1.1;
}

.video-subtitle {
    margin-top: 29px;
}

.credit {
    font-family: "Segoe", sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.credit:hover {
    text-decoration: underline;
}

.discover-btn {
    margin-top: 42px;
}

.custom-btn {
    background: #e5bd42;
    padding: 12px 32px;
    font-family: "MarkPro", sans-serif;
    color: rgb(30, 12, 18);
    font-size: 16px;
    font-weight: bold;

}

.custom-btn:hover {
    background: white;
    color: rgb(85, 48, 60);
}

.card-section {
    margin: 80px 0;
}

.promo-card {
    border: none;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    height: 490px;
    background-color: #333;
}

.promo-card::after {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(37, 36, 36, 0.38);
}


.promo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 32px;
    color: white;
    z-index: 200;
}


.card-logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    opacity: 0.9;
}


.card-title {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0.75rem;
    font-family: 'TTLight';
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
    font-weight: 300;
    opacity: 0.9;
    font-family: 'MarkPro';
}


.btn-custom {
    background-color: #e5bd42;
    color: #1a1a1a;
    border: none;
    border-radius: 50px;
    padding: 12px 32px;
    font-weight: 600;
    font-size: 14px;
    width: fit-content;
    font-size: 16px;
    font-family: 'MarkPro';
}

.btn-custom:hover {
    background: white;
    color: rgb(85, 48, 60);
}

.btn-custom:focus {
    background: transparent;
    border: 2px solid white;
    color: white;
}

.custom-btn:focus {
    background: transparent;
    border: 2px solid white;
    color: white;
}

.wheel-bg {
    height: 600px;
    position: relative;
    overflow: hidden;
}

.wheel-bg img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.promo-banner {
    background-color: #4f5622;
    width: 100%;
    max-width: 600px;
    padding: 50px;
}


.main-heading {
    color: #f1efde;
    font-weight: 400;

    letter-spacing: 1px;
    font-size: 44px;
    font-family: 'TTLight';
    line-height: 1.5;
}

.main-heading-1 {
    color: #f1efde;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 43px;
    font-family: 'TTLight';

}


.orange-bg {
    padding: 80px 80px 80px 77px;
}

.top-text {
    font-size: 48px;
    font-family: 'MarkPro';
    color: white;
}


.description-text {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Segoe';
}

.top-subtitle {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Segoe';
}

.absolute-wheel {
    position: absolute;
    z-index: 600;
    top: 15%;
    height: 100%;
    width: 100%;
}

.course-section {
    margin: 80px 0;
}

.cource-title {
    font-size: 48px;
    font-family: 'TTLight';

}

.course-subtitle {
    font-family: 'Segoe';
    font-size: 16px;
}

.course-subtitle-2 {
    font-family: 'MarkPro';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.bg-choco {
    background-color: #361f1a;
}

.bg-gold {
    background-color: #dcb343;
}

.text-gold {
    color: #dcb343;
}


.card-img-custom {
    height: 400px;
    object-fit: cover;
}

.card-img-short {
    height: 400px;
    object-fit: cover;
}

.card-location {
    position: absolute;
    top: 10px;
    left: 10px;
}

.badge {
    padding: 5px 20px;
    font-size: 14px;
    font-family: 'TTLight';
}

.badge-2 {
    background: #f8c631;
    font-size: 14px;
    font-family: 'segoe';
    padding: 2px 10px;
    font-weight: 600;
}

.item-title {
    font-size: 24px;
    font-family: 'MarkPro';
}

.font-sm {
    font-size: 12px;
}

.profile-icon {
    height: 50px;
    width: 50px;
    background: #c3c3c3;
}

.profile-icon i {
    color: #828080;
}

.name {
    font-size: 14px;
    font-family: 'MarkPro';
}

.btn-maroon {
    background: #622a3a;
    color: white;
    padding: 12px 32px;
    border-radius: 40px;
    font-size: 16px;
    font-family: 'MarkPro';
    font-weight: 700;
}

.btn-maroon:hover {
    background: #471f2b;
}

.section-divider {
    margin-top: 70px;
    margin-bottom: 27px;
}

.card-new {
    position: Absolute;
    top: 0;
    left: 0;
}

.image-div {
    height: 648px;
    overflow: hidden;
}

.image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.community-section {
    margin: 80px 0;

}

.another-card {
    margin: 80px 0;
}

.orange-bg {
    height: 100%;
    width: 100%;
    background: #8f3217;

}

.footer-section {
    background-color: #592C3A;
    color: white;
    padding-top: 50px;

}

.headers {
    font-size: 26px;
    color: #D0CBCB;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: 'MarkPro';

}

.headers-2 {
    font-size: 28px;
    color: #D0CBCB;
    margin-bottom: 25px;
    font-weight: 400;
    font-family: 'TTLight';
}

.desc-text {
    color: #D0CBCB;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 78px;
    line-height: 1.6;
    font-family: 'segoe';
}


.links-list {
    padding-left: 0;
    list-style: none;
}

.links-list li {
    margin-bottom: 5px;
}

.links-list a {
    color: #D0CBCB;
    text-decoration: none;
    font-size: 15px;
}

.links-list a:hover {

    color: white;
}


.login-area {
    margin-top: 40px;
}


.login-link {
    display: block;
    color: #e6dada;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 15px;
}

.login-link:hover {
    color: white;
}

.dropdown-style {
    color: #e6dada;
    text-decoration: none;
    display: block;
}

.dropdown-style:hover {
    color: white;
}

.top-logo-white {
    border-bottom: 1px solid white;
    padding-bottom: 22px;
    margin-bottom: 60px;
}

.copyright {
    font-size: 16px;
}

.bottom-bar {
    background-color: #46222d;
    padding: 20px 0;
    margin-top: 50px;
    font-size: 14px;
    color: #e6dada;
}

.legal-links a {
    color: #e6dada;
    margin-left: 20px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .bottom-bar {
        text-align: center;
    }

    .legal-links a {
        margin: 0 10px;
    }

    .legal-links {
        margin-top: 10px;
    }
}

.top-logo-white img {
    height: 80px;
}


.video-hero {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}


@media (max-width: 992px) {

    .nav-item {
        border-bottom: 1px solid rgba(145, 143, 143, 0.42);
    }

}

@media (max-width: 1200px) {
    .nav-link {
        font-size: 14px;
    }
}


@media (max-width: 992px) {
    .sm-btn {
        font-size: 12px;
    }
}


.bg-gradiant {
    background: linear-gradient(90deg, #fdf0d9 29%, #fcf9f1 29%);
}


.flex-align {
    display: flex;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.flex-align::before {
    content: "";
    width: 26%;
    flex: 0 0 auto;

}

.header-title {
    padding: 60px 0 0 6%;
    min-width: 0;
}

.titlee {
    padding-right: 40px;
    font-family: "TTFirsNeue", "MarkPro", "Arial", sans-serif;
    font-size: 40px;
    line-height: 1.325;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
}

.hero-container {
    display: flex;
}

.left {
    padding: 50px 50px 50px 0;
    min-width: 0;
    width: 26%;
    flex: 0 0 auto;
}

.right {
    padding: 50px 0 0 6%;
    display: flex;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.filter-sidebar {

    color: #4A3B32;
    font-family: sans-serif;

    border-radius: 4px;
}


.refine-title {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 1px;
    font-family: 'TTLight';
}

.clear-link {
    color: #4A3B32;
    text-decoration: underline;
    font-weight: 600;
    font-size: 16px;
    font-family: 'MarkPro';
}


.search-input {
    border-radius: 50px;
    border: 2px solid #4A3B32;
    background-color: #fdfdfd;
}

.search-icon-btn {
    border: none;
    background: transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #4A3B32;
    z-index: 10;
}



.accordion-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
}

.accordion-button {
    background-color: transparent;
    color: #4A3B32;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 0;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: #4A3B32;
    box-shadow: none;
}


.form-check-input {
    border-color: #aaa;
    background-color: transparent;
}

.form-check-input:checked {
    background-color: #4A3B32;
    border-color: #4A3B32;
}

.form-check-label {
    color: #4A3B32;
    font-size: 14px;
    font-family: 'MarkPro';
    margin-left: 5px;
}

.accordion-body {
    padding-left: 0;
    padding-top: 0;
}

.accordion-button {
    font-family: 'TTLight';
}

.filter-badge {
    background-color: #eec044;
    border-radius: 50px;
    padding: 6px 16px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-family: 'MarkPro';
    font-size: 13px;
    font-weight: 600;
}

.black-line {
    border-bottom: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}

.close-icon {
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 0.8;
}

.btn-filter {
    padding: 12px 32px;
    background-color: #622a3a;
    color: white;
    font-family: MarkPro;
    font-weight: 600;
}

.abs-img {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.abs-img::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
}

.abs-img img {
    object-fit: cover;
    height: 100%;
}

.img-content {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
}

.product-card {
    background: white;
    border: none;
    height: 100%;
    position: relative;
}

.card-img-top {

    width: 100%;
    object-fit: contain;
    height: 265px;
}


.compare-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #5c3a3a;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}


.brand-logo-small {
    position: absolute;
    top: 207px;
    right: 25px;
    background: white;
    padding: 5px;
    border: 1px solid #eee;
    width: 75px;
}

.brand-logo-small img {
    object-fit: cover;
    height: 35px;

}


.card-body {
    padding: 20px;
}

.product-title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1.4;
    font-family: 'TTLight';
    font-weight: 500;
}

.product-desc {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.5;
    font-family: 'MArkPro';
}


.fluidity-section {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'MarkPro';
}

.drop-icon {
    color: #333;
}

.product-specs {
    font-size: 14px;
    color: #666;
    font-family: 'MarkPro';
    margin-bottom: 20px;
}



.btn-more-info {
    background-color: #5c3a3a;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 5px;
}

.btn-more-info:hover {
    background-color: #4a2e2e;
    color: white;
}

.btn-buy-now {
    background-color: #eec044;
    color: #333;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 12px;
    font-weight: 600;
}

.btn-buy-now:hover {
    background-color: #dcb03d;
}

@media (max-width: 991px) {
    .bg-gradiant {
        background: #fcf9f1;
    }
}

.