
a {
    color: inherit;
    text-decoration: inherit;
}

.mr-8 {
    margin-right: calc(var(--spacing) * 8);
}

.list-none {
    list-style: none;
    padding: 0;
}

.text-with-bg {
    position: relative;
    padding-top: 100px;
}

.title-lg {
    font-size: var(--font-size-t2);
    font-weight: var(--font-weight-t2);
    letter-spacing: var(--letter-spacing-t2);
    line-height: var(--line-height-t2);
    font-family: var(--font-neuehaas);
    color: #fff;
    margin-bottom: 40px;
}


.clipped-heading {
    background-image: linear-gradient(126.17deg, #5fd5b6 32.74%, #865cff);
    background-clip: text;
}

.clip-text {
    color: var(--color-shade-50);
    font-size: var(--font-size-t3);
    font-weight: var(--font-weight-t3);
    letter-spacing: var(--letter-spacing-t3);
    line-height: var(--line-height-t3);
    font-family: var(--font-neuehaas);
    cursor: pointer;
}

.big-clip-adds:hover {
    color: #0000;
}