@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Frijole&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.navbar {
    background-color: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 20px;
}


.navbar-brand {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: -0.5px;
    color: #212529;
}


.nav-link {
    font-weight: 700;
    font-size: 0.9rem;
    color: #444;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    transition: transform 0.2s ease;
}


.nav-link.active-purple {
    color: #6200ea !important;
}


.nav-link:hover {
    color: #6200ea;
    transform: scale(1.07);
}


.btn-hire {
    border-color: #333;
    color: #333;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 12px;
}

.btn-hire:hover {
    background-color: #333;
    color: white;
}

.cyan {
    color: #6200ea;
}

.bg-wrapper {
    background-image: url(../../img/intro-bg.jpg);
    background-position: center 0;
    background-size: cover;
    height: 100vh;
}

.intro-container {
    position: relative;
}

.intro-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.73);
}

.intro-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
}

.intro-subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 21px;
}


.my-img-div {
    width: 163px;
    height: 163px;
    border: 8px solid white;
    overflow: hidden;
}

.my-img-div img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.about-btn {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    background: #6200ea;
    color: white;
    padding: 12px 40px;
    font-size: 16px;
}

.btn-center {
    display: flex;
    justify-content: center;
}

.about-btn:hover {
    background: #390385;
}

.social-icons {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 0;
}

.social-icons li i {
    transition: transform 0.2s ease;
    cursor: pointer;
}

.social-icons li:hover i {
    transform: scale(1.15);
}

.pink-highlight {
    color: #390385;
}

.section-title-label {
    background-color: #390385;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    color: white;

}

h1.main-title {
    font-weight: 700;
    margin-bottom: 50px;
}


.name-highlight {
    border-bottom: 3px solid #390385;
    font-weight: 700;
}

.intro-text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 40px;
}


.info-label {
    font-size: 17px;
    color: #888;
    margin-bottom: 2px;
}

.info-value {
    font-weight: 600;
    font-size: 16px;
}

.email-link {
    color: #333;
    text-decoration: underline;
    font-weight: 600;
}


.experience-box {
    position: relative;
    text-align: right;
    margin-top: 20px;
}

.big-number {
    font-size: 144px;
    font-weight: 600;
    line-height: 1;
    color: #444;
    position: relative;
    z-index: 2;
}

.jost {
    font-family: "Jost", sans-serif;
}

.circle-bg {
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: #d7adff;
    border-radius: 50%;
    top: 16px;
    left: 77%;
    transform: translateX(-50%);
    z-index: 1;
}

.experience-text {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}

.about-me {
    margin: 80px 0;
}

.section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}


.sub-title {
    color: #390385;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
}


.main-title {
    font-weight: 900;
    font-size: 40px;
    color: black;
    text-transform: uppercase;

}


.vertical-line {
    width: 1px;
    height: 40px;
    background-color: #ccc;
    margin: 20px auto;
}


.job-title {
    font-weight: 700;
    font-size: 24px;
    color: black;
    margin-bottom: 5px;
    font-family: "Jost", sans-serif;
}


.company-text {
    font-size: 16px;
    color: #999;
    font-weight: 500;
    font-family: "Jost", sans-serif;
}


.job-description {
    color: #333;
    line-height: 1.6;
    margin-top: 15px;
    font-family: "Jost", sans-serif;
}


.separator-line {
    border-bottom: 1px solid #e0e0e0;
    margin-top: 40px;
}

.bg-wrapper {
    background-image: url(../../img/intro-bg.jpg);

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100vh;

    min-height: 100dvh;
    position: relative;
    display: flex;
    align-items: center;
}


.bg-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.73);
    z-index: 1;
}


.container {
    position: relative;
    z-index: 2;
}


.intro-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
}

.intro-subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 21px;
}


.my-img-div {
    width: 163px;
    height: 163px;
    border: 8px solid white;
    overflow: hidden;

    transition: all 0.3s ease;
}

.my-img-div img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.about-btn {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    background: #6200ea;
    color: white;
    padding: 12px 40px;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    transition: background 0.3s ease;
}

.about-btn:hover {
    background: #390385;
    color: #fff;
}

.btn-center {
    display: flex;
    justify-content: center;
}


@media (max-width: 991px) {
    .intro-title {
        font-size: 32px;
    }

    .intro-subtitle {
        font-size: 18px;
    }
}


@media (max-width: 400px) {
    .info-value {
        font-size: 16px;
    }
}

.my-badge {
    background-color: #6200ea;
    padding: 0px 8px;
    border-radius: 1px;
    font-size: 16px;
    color: #333;
    display: inline-block;
    margin-bottom: 15px;
    font-family: "Jost", sans-serif;
}


.icon-box {
    font-size: 50px;
    color: #6200ea;
    margin-bottom: 20px;
    font-family: "Jost", sans-serif;
}


.description-text {
    color: #777;
    font-size: 14px;
    line-height: 1.6;
    font-family: "Jost", sans-serif;
}

.service-title {
    font-weight: 700;
    margin-bottom: 15px;
    color: #222;
    font-family: "Jost", sans-serif;
}

.whaat {
    font-weight: 700;
    margin-bottom: 30px;
    color: #222;
    font-family: "Jost", sans-serif;
    font-size: 45px;
}


.service-item {
    padding: 20px;
}

.service {
    margin: 80px 0;
}

.custom-yellow {
    background-color: #f3e996;
}


.progress {
    height: 8px;
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: none;
}


.progress-bar {
    background-color: #6200ea;

}


.skills-text {
    font-weight: 700;
    color: #333;
    margin-bottom: 40px;
}

.skill-name {
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
}

.skill-percent {
    float: right;
    font-weight: 500;
}


.btn-cv {
    border: 1px solid #000;
    background-color: white;
    color: black;
    padding: 10px 40px;
    border-radius: 0;
    margin-top: 30px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    font-family: "Jost", sans-serif;
}

.btn-hiree {
    border: 1px solid #6200ea;
    background-color: #6200ea;
    color: white;
    padding: 10px 40px;
    border-radius: 0;

    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    font-family: "Jost", sans-serif;
}

.btn-cv:hover {
    background-color: #000;
    color: white;
}

.btn-hiree:hover {
    background-color: #3f0293;
    color: white;
}


.skills {
    margin: 80px 0;
}

.portfolio-badge {
    background-color: #6200ea;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 15px;
    font-family: "Jost", sans-serif;
}


.works-text {
    font-weight: 700;
    color: #333;
    margin-bottom: 30px;
    font-family: "Jost", sans-serif;
    font-size: 40px;
}


.filter-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
    text-align: center;
}

.filter-menu li {
    display: inline-block;
    margin: 0 15px;
}

.filter-menu a {
    text-decoration: none;
    color: #777;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
    cursor: pointer;
    font-family: "Jost", sans-serif;
}


.filter-menu a.active {
    color: #333;
    border-bottom: 3px solid #6200ea;
}

.filter-menu a:hover {
    color: #333;
}


.project-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.3s;
}

.project-img:hover {
    opacity: 0.9;
}


.footer-space {
    height: 50px;
}

.works {
    margin: 80px 0;
}

.bg-container {
    overflow: hidden;
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.intro-img-bg {
    background-image: url(../../img/intro-bg-2.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
}

.hire-content {
    position: relative;
    z-index: 2;
}

.hire-title {
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 700;
}

.padding {
    padding: 104px;
}

.section-box {
    background-color: #f1f2f6;
    padding: 50px 0;
}

.purple-text {
    color: #6c5ce7;

    font-weight: 600;
    font-size: 18px;
}

.clientt-ttitle {
    font-weight: 900;
    font-size: 40px;

    margin-bottom: 30px;
}


.separator-line {
    width: 1px;
    height: 40px;
    background-color: #ddd;
    margin: 0 auto 30px auto;
}


.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.quote-text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
    max-width: 700px;
    margin: 20px auto;
}


.carousel-indicators [data-bs-target] {
    background-color: #b2bec3;
    width: 30px;
    height: 3px;
}


.carousel-indicators .active {
    background-color: #6c5ce7;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
    background-size: 40% 40%;
}

.accordions {
    margin: 80px 0;
}

.question-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: -10px;
}

.faq-icon {
    width: 100%;

    overflow: hidden;
}

.fq-icon img {


    object-fit: cover;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: transparent;
    font-weight: 600;
}

.accordion-button {

    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);

}


.reach {
    background: #6c5ce7;
}

.contact-container {
    padding: 50px;

}


.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
    color: white;
    padding-left: 0;
}

.form-control:focus {
    background-color: transparent;
    border-bottom: 1px solid white;
    box-shadow: none;
    color: white;
}


::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
}


.social-icons {
    display: flex;
    align-items: center;
}


.icon-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    margin-top: 20px;

}

.icon-wrapper i {
    font-size: 18px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.icon-wrapper:hover i {
    opacity: 0.7;
}


.custom-tooltip {
    visibility: hidden;
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    white-space: nowrap;
    font-family: "Jost", sans-serif;
}


.custom-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1e1e1e transparent transparent transparent;
}


.icon-wrapper:hover .custom-tooltip {
    visibility: visible;
    opacity: 1;
}


.icon-wrapper {
    color: white;


}


.icon-wrapper:hover {
    color: #000000;
}


.btn-custom-dark {
    background-color: #1e1e1e;
    color: white;
    padding: 10px 30px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-custom-dark:hover {
    background-color: #ffffff;

    transform: translateY(-3px);
}

.btn-custom-dark:active {
    transform: translateY(0);
    background-color: #1e1e1e;
}

.info-block {
    margin-bottom: 20px;
}

.touch-title {
    color: #fff;
    font-size: 40px;
}

.touch-subtitle {
    font-size: 21px;
    color: white;
}

.sm-text {
    font-size: 18px;
    color: white;
}

.custom-footer {
    background-color: #111418;
    margin-top: auto;
}


.highlight-text {
    color: #6c5ce7;
    text-decoration: none;
    border-bottom: 2px solid #6c5ce7;
    font-weight: 500;
}


.highlight-text:hover {
    color: #5b4cc4;
    border-color: #5b4cc4;
}

.project-box {
    position: relative;
}

.projects {
    position: relative;
}

.project-overlay {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 1s ease;
}

.projects:hover .project-overlay {

    opacity: 1;
}

.overlay-title {
    font-weight: 600;
    font-size: 21px;
}

.overlay-subtitle {
    font-size: 14px;
}

.overlay-icon {
    margin-bottom: 10px;
}

.faq-icon {
    height: 440px;
}

@media (max-width: 767px) {
    .faq-icon {
        height: 200px;
    }
}

@media (max-width: 576px) {
    .intro-title {
        font-size: 15px;
        line-height: 1.3;
    }

    .whaat {
        font-size: 22px;
        margin-bottom: 0;
    }

    .icon-box {
        font-size: 40px;
    }

    .works-text {
        font-size: 28px;
    }

    .filter-menu a {
        font-size: 13px;
    }

    .filter-menu li {
        margin: 0 10px;
    }

    .padding {
        padding: 0;
    }

    .service-item {
        padding: 0;
    }

    .intro-subtitle {
        font-size: 13px;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .my-img-div {
        width: 130px;
        height: 130px;
        border: 5px solid white;
        margin-bottom: 1rem;
    }

    .about-btn {
        padding: 5px 20px;
        font-size: 13px;
    }

    h1.main-title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .my-name {
        font-size: 28px;
    }

    .intro-text {
        font-size: 15px;
    }

    .hire-title {
        font-size: 22px;
        margin-bottom: 1rem !important;
    }

    .clientt-ttitle {
        font-size: 28px;
    }

    .question-title, .touch-title{
        font-size: 28px;
    }

    .touch-subtitle {
        font-size: 16px;
    }

    .sm-text {
        font-size: 14px;
    }

    .btn-hiree {
        padding: 4px 16px;
        font-size: 14px;
    }

}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}