.breadcrumb-area {
    height: 280px;
    position: relative;
    background-image: url(../../img/breadcrumb-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.breadcrumb-area::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    z-index: 1;

}

.breadcrumb-heading h1 {
    position: relative;
    font-family: 'space';
    color: white;
    text-align: center;
    z-index: 2;
    padding: 180px 0 0px;
}

.breadcrumb-float {
    position: absolute;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -48px
}

.breadcrumb {
    background: white;
    padding: 19px 15px;
    display: inline-flex;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65);
}

.breadcrumb-item {
    font-family: 'space';
    font-size: 17px;
    font-weight: 700;
}

.breadcrumb-item a {
    text-decoration: none;
    color: var(--secColor);
}

.breadcrumb-area .breadcrumb {
    --bs-breadcrumb-divider: "|";
}


