
.social-lists {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: start;
    gap: 15px;
    padding: 0;
}

.social-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 0;
}

.topbar {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 5px;
}

.top-link {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-family: 'roboto';
}

.nav-link {
    font-family: 'space';
}

.offcanvas-body .navbar-nav .nav-link {
    color: #403226;
    font-weight: 600;
}



.offcanvas-body .navbar-nav .nav-link:hover {
    color: var(--secColor);

}


.phone svg, .mail svg, .time svg {

    color: var(--secColor);
    padding-right: 5px;
}

.topbar-lists {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: end;
    gap: 30px
}

.navbar-float {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    z-index: 100;
}



.brand-logo {
    width: 90px;
    padding-left: 10px;
}



.btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid #b6b6b6;
    color: #746a62;
    margin-right: 15px;
    transition: all 0.4s ease;
}


.btn-search:hover {
    background: var(--secColor);
    color: white;
}


.contact-btn {
    padding: 13px 20px;
    margin-right: 29px;
    border: 1px solid #b6b6b6;
    color: black;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    font-family: "space";
    transition: all 0.3s ease;
}


.right-arrow {
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    top: 6%;
    z-index: 100;
    background: var(--secColor);
    color: white;
    transition: all 0.3s ease;
}


.btn-group:hover {
    .right-arrow {
        right: -32px;
        color: var(--secColor);
        background: white;
        border: 1px solid var(--secColor);
    }

    .contact-btn {
        background: var(--secColor);
        color: white;
    }
}


@media (max-width: 991px) {
    .social-link, .top-link {
        font-size: 11px;
    }

    .contact-btn {
        font-size: 13px;
    }

    .right-arrow {
        right: 7px;
    }

    .btn-group:hover .right-arrow {
        right: 0;
    }
    .navbar {
        padding: 0;
    }
}



@media (max-width: 767px) {
     .navbar-float {
         margin-top: -40px;
     }


}