@font-face {
    font-family: "space";
    src: url("../../font/space-gotesk.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "roboto";
    src: url("../../font/roboto.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}


:root {
    --primaryColor: #0072bf;
    --primaryHover: #004E82;
    --secColor: #ef5925;
    --secHoverColor: #D94A1F;
    --dark-orange: #C7431C;
    --main-brown: #3d2b1f;
    --accent-gold: #b58e58;
    --titleColor: #1d1d1f;
}


.swiper {
    width: 100%;
    height: 100vh;

    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.60);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


.home-text {
    position: absolute;
    font-family: "space";
    color: white;
    top: 40%;
    left: 132px;
    z-index: 200;
    display: flex;
    flex-direction: column;
}

.slider-sm-title {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 600;
    text-align: left;
}

.slider-title {
    font-size: 80px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 0;
}


.slider-desc {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 600;
    text-align: left;
}

.line-divider {
    height: 3px;
    width: 570px;
    background: white;
    margin-bottom: 15px;
}

.contact-btn-2 {
    padding: 13px 25px;
    margin-right: 29px;
    background: var(--secColor);
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    font-family: "space";
    transition: all 0.3s ease;
}

.right-arrow-2 {
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 126px;
    top: 8%;
    z-index: 100;
    background: white;
    color: var(--secColor);
    transition: all 0.3s ease;
}

.btn-group {
    width: max-content;
}

.btn-group:hover {
    .right-arrow-2 {
        left: 134px;
        background: var(--secColor);
        color: white;
        border: 1px solid var(--secColor);
    }

    .contact-btn-2 {

        color: var(--secColor);
        background: white;

    }
}

.custom-card {
    background: #558fbe;
    border-radius: 12px;

    padding: 25px;
    position: relative;
    border: none;
    transition: all 0.6s ease;
}


.custom-card:hover {
    background: var(--primaryColor);
}

.card-title {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.1;
    margin-bottom: 0;
    font-family: space;
    color: white;
}

.divider {
    height: 1px;
    background-color: #e0e0e0;
    margin: 20px 0;
    width: 100%;
}

.card-description {
    color: #6c757d;
    font-size: 1.05rem;
    line-height: 1.4;
    padding-right: 40px;
}


.card-section {
    position: relative;
}


.masking {

    position: absolute;
    width: 119px;
    height: 112px;
    inset: auto -1px -1px auto;
    z-index: 1;
    background-color: #fff;
    mask: url(../../img/shape-bottom.png) right bottom no-repeat;
}

.card-discover-btn {
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #d39178;
    transition: all 0.6s ease;
    color: white;
}

.card-discover-btn svg {
    transform: rotate(-45deg);
}


.custom-card:hover .card-discover-btn {
    background: var(--secColor);
    color: #f4f4f4;
}


.image-container {
    width: 100%;
    height: 200px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;
}


.card-image-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.6s ease;
    margin-bottom: 0;
}


.custom-card:hover .card-image-top {
    transform: scale(1.15);
}

.banner-img {
    width: 100%;
    height: 600px;
    border-radius: 10px;
}

.banner-right {
    position: relative
}

.bg-img {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: -1;
    opacity: 0.6;
}

.banner-text {
    height: 100%;
    z-index: 100;
    padding: 60px 50px;
}

.since {
    color: var(--primaryColor);
    font-family: space;
    font-weight: 600;
    font-size: 18px;
}

.banner-title {
    color: #403226;
    font-family: space;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
}

.banner-desc {
    color: #403226;
    font-family: space;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 500;
}

@media(max-width: 767px) {
    .slider-sm-title {
        font-size: 24px;
        text-align: left;
    }

    .home-text {
        position: absolute;
        font-family: "space";
        color: white;
        top: 40%;
        left: 29px;
        z-index: 200;
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .slider-title {
        font-size: 60px;
        padding: 8px 0;
    }

    .slider-desc {
        font-size: 18px;
    }

    .line-divider {
        width: 100%;
    }

    .contact-btn-2 {
        font-size: 12px;
        padding: 8px 15px;
    }

    .right-arrow-2 {
        font-size: 15px;
        padding: 8px;
        left: 83px;
        top: 5%;
    }

    .btn-group:hover .right-arrow-2 {
        left: 88px;
    }

    .navbar-toggler {
        padding: 6px 8px;
        font-size: 13px;
    }

    .swiper {
        height: 90vh;


    }


    .navbar-brand {
    }

}


.bg-section {
    background-image: url(../../img/pattern-bg.png);
    background-position: center left;
    background-repeat: no-repeat;

    min-height: 700px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.since-text {
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 14px;
}

.nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-btn.active {
    background: #b58e58;
    color: white;
}

.section-title {
    color: var(--secColor);
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}


.about-title {
    font-weight: 700;
    font-family: space;
    font-size: 18px;
    border-left: 10px solid var(--primaryColor);
    padding: 16px;
    position: relative;
    margin-bottom: 25px;
}

.about-title::before {
    content: '';
    height: 10px;
    width: 53px;
    background: var(--primaryColor);
    display: block;
    top: 0;
    left: 0;
    position: absolute;
}

.about-title::after {
    content: '';
    height: 10px;
    width: 95px;
    background: var(--primaryColor);
    display: block;
    bottom: 0;
    left: 0;
    position: absolute;
}


.main-title {
    font-weight: 700;
    font-family: space;
    font-size: 40px;
}

.why-title {
    font-size: 42px;
    color: var(--primaryColor);
    font-family: space;
}

.subhead {
    font-family: space;
    font-size: 14px;
}

.adjust {
border: 1px solid var(--secColor);
}

.element-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    font-family: "space", sans-serif;
}

.heading-desc {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Inter", sans-serif;
    font-weight: 300 !important;
    color: #666666;
    font-size: 16px;
}


  .box-box .box-icon {
    margin-right: 25px;
    position: relative;
    background-color: var(--primaryColor);
    color: #fff;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    flex-shrink: 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


  .ihbox-imgbox {
      width: 100%;
      text-align: center;
  }

    .ihbox-imgbox img {
       object-fit: cover;
        border-radius: 10px;
    }
