:root {
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);

    --font-neuehaas: NeueHaasGrotesk, Helvetica, Arial, sans-serif;

    --font-size-t7: 1rem;
    --font-weight-t7: 450;
    --line-height-t7: 1.3rem;
    --letter-spacing-t7: -.05em;

    --font-size-t3: 1.875rem;
    --font-weight-t3: 330;
    --line-height-t3: 2.1375rem;
    --letter-spacing-t3: 0;

    --font-size-t2: 2.25rem;
    --font-weight-t2: 330;
    --line-height-t2: 2.52rem;
    --letter-spacing-t2: 0;

    --font-size-body-sm: .875rem;
    --line-height-body-sm: 1.1375rem;
    --font-weight-body-sm: 420;
    --letter-spacing-body-sm: 0;
}

@media (min-width: 900px) {
    :root {
        --font-size-t7: 1.25rem;
        --line-height-t7: 1.75rem;
        --letter-spacing-t7: .015em;
        --font-weight-t7: 400;

        --font-size-t3: 3.4375rem;
        --line-height-t3: 4rem;
        --letter-spacing-t3: 0;

        --font-size-t2: 4.375rem;
        --line-height-t2: 4.375rem;
        --letter-spacing-t2: 0;
        --font-size-b4: 1.125rem;
        --line-height-b4: 1.41rem;
        --letter-spacing-b4: .04em;
        --font-size-body-sm: var(--font-size-b4);
        --line-height-body-sm: var(--line-height-b4);
        --letter-spacing-body-sm: var(--letter-spacing-b4);
    }
}


@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url("../../font/arial-mdm.ttf") format('truetype');
}

@font-face {
    font-family: "Helvetica";
    src: url("../../font/helvetica.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGrotesk";
    src: url("../../font/neuehaasgrotdisp-medium.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGrotesk";
    src: url("../../font/neuehaasgrotdisp-light.otf") format("truetype");
    font-weight: auto;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGrotesk";
    src: url("../../font/neuehaasgrotdisp-bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGrotesk";
    src: url("../../font/neuehaasgrottextround-italic.otf") format("truetype");
    font-weight: normal;
    font-style: italic;
}


.heading-lr {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
    margin-bottom: 50px;
}

.heading-lr h2 {
    margin-bottom: 0;
}

.heading-lr .heading-left {
    width: 60%;
    flex-shrink: 0;
}

.text-big-heading {
    font-size: var(--font-size-t2);
    font-weight: var(--font-weight-t2);
    letter-spacing: var(--letter-spacing-t2);
    line-height: var(--line-height-t2);
    font-family: var(--font-neuehaas);
    color: #fff;
    margin-bottom: 40px;
}

.text-t3 {
    font-size: var(--font-size-t3);
    font-weight: var(--tw-font-weight, var(--font-weight-t3));
    letter-spacing: var(--letter-spacing-t3);
    line-height: var(--line-height-t3);
}

.heading-p {
    color: #9797a2 !important;
    font-size: var(--font-size-body-sm);
    font-weight: var(--font-weight-body-sm);
    letter-spacing: var(--letter-spacing-body-sm);
    line-height: var(--line-height-body-sm);
}


.transition-all {
    transition-duration: var(--default-transition-duration);
    transition-property: all;
    transition-timing-function: var(--default-transition-timing-function);
}

a {
    color: inherit;
    text-decoration: inherit;
}

.campaign-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.campaign-image img {
    width: 100%;
}

.image-front {
    object-position: center;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    position: absolute;
    display: block;
    vertical-align: middle;
    z-index: 10;
}

.image-back {
    transition-property: opacity;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: .3s;
    position: relative;
    opacity: 0;
    object-position: center;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    display: block;
    vertical-align: middle;
    z-index: 100;
}

.card-campaign:hover .image-back {
    opacity: 1;
}

.campaign-text {
    padding: 40px 0;
}


.heading-text-title {
    color: #fff;
    font-size: var(--font-size-t7);
    font-weight: var(--font-weight-t7);
    letter-spacing: var(--letter-spacing-t7);
    line-height: var(--line-height-t7);
}

.heading-text {
    color: #9797a2;
    font-size: var(--font-size-body-sm);
    font-weight: var(--font-weight-body-sm);
    letter-spacing: var(--letter-spacing-body-sm);
    line-height: var(--line-height-body-sm);
}


.btn-ring-cta {
    outline-width: medium;
    padding-block: .75rem;
    padding-inline: 1.5rem;
    width: auto;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: var(--default-transition-timing-function);
    color: #fff;
    font-weight: 550;
    font-family: Inter-Variable, Helvetica, Arial, sans-serif;
    border: 2px solid #fff;
    border-radius: 999px;
}

.btn-ring-cta:hover {
    color: #fff;
    font-weight: 550;
    font-family: Inter-Variable, Helvetica, Arial, sans-serif;
    border: 2px solid #fff;
}


@media (max-width: 767px) {
    .heading-lr {
        flex-direction: column;
        justify-content: start;
    }

    .heading-lr .heading-left {
        width: 100%;
        flex-shrink: 0;
    }
}
