:root {
    --font-neuehaas: NeueHaasGrotesk, Helvetica, Arial, sans-serif;

    --color-shade-50: #71717a;

    --font-size-t2: 2.25rem;
    --font-weight-t2: 330;
    --line-height-t2: 2.52rem;
    --letter-spacing-t2: 0;
    --font-size-t3: 1.875rem;
    --font-weight-t3: 330;
    --line-height-t3: 2.1375rem;
    --letter-spacing-t3: 0;
}


@media (min-width: 900px) {
    :root {
        --font-size-t3: 3.4375rem;
        --line-height-t3: 4rem;
        --letter-spacing-t3: 0;
        --font-weight-t3: 400;

        --font-size-t2: 4.375rem;
        --line-height-t2: 4.375rem;
        --letter-spacing-t2: 0;
    }
}

@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url("../../font/arial-mdm.ttf") format('truetype');
}

@font-face {
    font-family: "Helvetica";
    src: url("../../font/helvetica.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGrotesk";
    src: url("../../font/neuehaasgrotdisp-medium.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGrotesk";
    src: url("../../font/neuehaasgrotdisp-light.otf") format("truetype");
    font-weight: auto;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGrotesk";
    src: url("../../font/neuehaasgrotdisp-bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "NeueHaasGrotesk";
    src: url("../../font/neuehaasgrottextround-italic.otf") format("truetype");
    font-weight: normal;
    font-style: italic;
}


/* == base style ==*/

a {
    color: inherit;
    text-decoration: inherit;
}

.mr-8 {
    margin-right: calc(var(--spacing) * 8);
}

.list-none {
    list-style: none;
    padding: 0;
}


.py-section {

    position: relative;
    padding-top: 100px;
}

.text-big-heading {
    font-size: var(--font-size-t2);
    font-weight: var(--font-weight-t2);
    letter-spacing: var(--letter-spacing-t2);
    line-height: var(--line-height-t2);
    font-family: var(--font-neuehaas);
    color: #fff;
    margin-bottom: 40px;
}


.text-heading-clip-add {
    background-image: linear-gradient(126.17deg, #5fd5b6 32.74%, #865cff);
    background-clip: text;
}

.big-clip-adds {
    color: var(--color-shade-50);
    font-size: var(--font-size-t3);
    font-weight: var(--font-weight-t3);
    letter-spacing: var(--letter-spacing-t3);
    line-height: var(--line-height-t3);
    font-family: var(--font-neuehaas);
    cursor: pointer;
}

.big-clip-adds:hover {
    color: #0000;
}