.header-section {
    margin-top: 60px;
    width: 35%;
    margin-bottom: 60px;
}

.hero-image {
    height: calc(100vh - 77px);
}

.hero-image img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.nav-text {
    font-size: 16px;
}

.sm-text {
     font-size: 18px;
}

.body-text {
    padding: 5px 30px 5px 30px;
    margin-top: 90px;
}

.section-divider {
    margin-top: 90px;
}

.left-image {
    height: 400px;

}

.image {
    height: 300px;
}

.image img {
     object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.left-image img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

footer {
    margin-top: 100px;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: #025298;
}

.social-icons a {
    margin-right: 15px;
    font-size: 14px;
}



.bottom-line {
    padding-bottom: 60px;
}

.sm-font {
    font-size: 14px;
}

.icon-color{
    color: #818181;
}