body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.nav-text {
    font-size: 15px;
    font-weight: 600;
}

.hero-image {

    height: calc(100vh - 77px);


}

.hero-image img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.card-section {
    margin-top: 150px;
}

.card-img-top {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.category-section {
    margin-top: 100px;
}

.right {
    width: 100%;
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.left-image {
    width: 100%;
    height: 341px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.left-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 13px;
}


.right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.cat-title {
    font-weight: 600;
    font-size: 18px;
}

.cat-text {
    font-size: 16px;
}

.btn-gray {
    background-color: #e5e5e5;
}

.btn-gray:hover {
    background-color: #c5c5c5;
}

.other-section {
    margin-top: 100px;
}

.fit-content {
    width: fit-content;
}


.client-section {
    margin-top: 100px;
}

.card-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 28px;
}

.certification-section {
    margin-top: 80px;
}

.facilities {
    margin-top: 60px;
}

footer {
    margin-top: 100px;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: #025298;
}

.social-icons a {
    margin-right: 15px;
    font-size: 14px;
}



.bottom-line {
    padding-bottom: 60px;
}

.sm-font {
    font-size: 14px;
}

.icon-color{
    color: #818181;
}