
.nav-text {
    font-size: 16px;

}

.sm-text {
    font-size: 18px;
}


.section-divider {
    margin-top: 90px;
}

.section-dividerr {
    margin-top: 50px;
}

.left-image {
    height: 400px;

}

.image {
    height: 300px;
}

.image img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.left-image img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

footer {
    margin-top: 100px;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: #025298;
}

.social-icons a {
    margin-right: 15px;
    font-size: 14px;
}


.bottom-line {
    padding-bottom: 60px;
}

.sm-font {
    font-size: 14px;
}

.icon-color {
    color: #818181;
}

.bg-fruit {
    height: 100vh;
    width: 100%;
    margin-top: -74px;
    position: relative;
    overflow: hidden;
}

.bg-fruit img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;

}

.bg-fruit::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #5e5e5e;
    opacity: 0.2;
}

.text-area {
    position: absolute;
    top: 40%;
    left: 0%;
    z-index: 50;
}

.top-text {
    color: #fff;
    font-size: 52px;
    text-align: center;
    font-weight: 600;
}

.bottom-text {
    font-size: 19px;
    letter-spacing: 1px;
    margin-top: 16px;
}

.btn-gray {
    background-color: #b6b6b6;
}

.fruit-image {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.fruit-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center center;
    border-radius: 10px;
}

.big-text {
    font-size: 52px;
}

.md-text {
    font-size: 18px;
}

.btn-text {
    font-size: 16px;
}

.left-imagee {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

.left-imagee img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center center;
    border-radius: 10px;
}

.sm-image {
    height: 280px;
    width: 100%;
    overflow: hidden;
}

.sm-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center center;
    border-radius: 10px;
}

.section-heading {
    font-weight: 700;
    margin-bottom: 2rem;
}

.icon {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.subheading {
    font-weight: 600;
    margin-bottom: 0.5rem;
}