@media (max-width: 767px) {
    .heading-lr {
        flex-direction: column;
        justify-content: start;
    }

    .heading-lr .heading-left {
        width: 100%;
        flex-shrink: 0;
    }

    .image-gallery {
        width: 100%;
        flex-shrink: 0;
    }

    .bg-loc {
        transition-property: none;
        right: -12rem;
        top: -1rem;
        width: 64%;
    }
}
